.about {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 150%;
}

.about .left {
  text-align: center;
  margin: auto;
  padding: 1rem;
  max-width: 1050px;
  justify-content: center;
  margin-left: 100px;
}

.about .left .about-content{
  margin: 1.2rem 0;
}

.about .right {
  max-width: 300px;
}

.right .img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  text-align: center;
  align-items: center;
}

.right .img {
  position: absolute;
  max-width: 35%;
  border: 16px solid #333;
  margin-left: 1500px;
  margin-top: -1300px;
  border-radius: 50%;
}

.right .top {
  grid-column: 1 / span 8;
  grid-row: 1;
  z-index: 1;
}


